style.css
hl { font-family:arial;color:blue}
h2 {background-color:green;background-repeat:repeat-x;color: yellow }
body {margin-top=10%;background-color:pink}
table {border-color:blue}
td {font-size:15px;text-align:center;color:fuchsia}